In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
# ms-python.python added
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..\\..'))
	print(os.getcwd())
except:
	pass

 # Compare Synthetic and Original Taxi Data

In [1]:
import os
try:
    os.chdir(os.path.join(os.getcwd(), 'notebooks\\taxi'))
    print(os.getcwd())
except:
    pass
from IPython import get_ipython
#Importing libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the "../input/" directory.
import os
import matplotlib.pyplot as plt #visualization
from PIL import  Image
get_ipython().run_line_magic('matplotlib', 'inline')
import pandas as pd
import seaborn as sns #visualization
import itertools
import warnings
warnings.filterwarnings("ignore")
import io
import plotly.offline as py#visualization
py.init_notebook_mode(connected=True)#visualization
import plotly.graph_objs as go#visualization
import plotly.tools as tls#visualization
import plotly.figure_factory as ff#visualization
import random

 ### Original Taxi Data, first 5 rows

In [2]:
origPath = "taxi_orig.csv"
orig = pd.read_csv(origPath)
orig = orig.drop(columns=['uid'])
cols = orig.columns.tolist()
cols.sort()
orig = orig[cols]
orig['dropoff_datetime'] = pd.to_datetime(orig['dropoff_datetime'],unit='s')
orig['pickup_datetime'] = pd.to_datetime(orig['pickup_datetime'],unit='s')
#first few rows
orig.head()

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,gender,med,mta_tax,passenger_count,payment_type,pickup_datetime,...,rate_code,sf_flag,surcharge,tip_amount,tolls_amount,total_amount,trip_distance,trip_time_in_secs,vendor_id,zip
0,2013-01-08 09:02:32,40.768246,-73.861534,32.0,Male,2D839735D8F021DC882EAD1171D45D2B,0.5,1,CRD,2013-01-08 08:40:06,...,1,N,0.0,6.50,0.0,39.00,11.6,1345,CMT,582337
1,2013-01-08 08:27:22,40.740086,-74.001244,11.5,Male,2A935F397B9C612D057337170C0F6278,0.5,1,CRD,2013-01-08 08:13:30,...,1,N,0.0,1.00,0.0,13.00,2.1,832,CMT,3380 ZG
2,2013-01-08 09:06:49,40.760956,-73.967010,25.0,Male,D5E3EDE8B89E9154A46D14775C8DCBC3,0.5,1,CRD,2013-01-08 08:41:55,...,1,N,0.0,6.37,0.0,31.87,8.0,1493,CMT,85778
3,2013-01-08 11:57:43,40.763020,-73.983780,6.0,Male,F38AE6C0CE0DC594E319C528CD2E1081,0.5,2,CRD,2013-01-08 11:50:56,...,1,N,0.0,1.30,0.0,7.80,0.7,407,CMT,6288 RS
4,2013-01-08 08:32:10,40.766678,-73.978653,9.5,Female,D87416509B3A2BF0E6E51E00F1A84ECD,0.5,1,CRD,2013-01-08 08:20:46,...,1,N,0.0,2.00,0.0,12.00,1.8,683,CMT,E3S 5R9

 ### Synthetic Taxi Data, first 5 rows

In [0]:
synPath = "taxi_syn.csv"
syn = pd.read_csv(synPath)
cols = syn.columns.tolist()
cols.sort()
syn = syn[cols]
syn['dropoff_datetime'] = syn['dropoff_datetime'].astype(int)
syn['dropoff_datetime'] = pd.to_datetime(syn['dropoff_datetime'],unit='s')
syn['pickup_datetime'] = syn['pickup_datetime'].astype(int)
syn['pickup_datetime'] = pd.to_datetime(syn['pickup_datetime'],unit='s')
syn.head()

 ## Compare data summaries
 The following compares statistical summaries of the original and synthetic data.
 While the per-column statistics of the synthetic data follow the original data
 pretty closely, the min and max and be far off because Aircloak
 hides extreme values when it anonymizes.
 ### Original data summary

In [0]:
print ("Rows     : " ,orig.shape[0])
orig.describe()

 ### Synthetic data summary

In [0]:
print ("Rows     : " ,syn.shape[0])
syn.describe()